{% extends 'landing/base.html' %}

{% block content %} 
    <head>
        <title>CV</title>
    </head>

    <body>
        <div class="container mt-5 shadow p-3 mb-5 bg-white rounded">
            <h1 class="text-center">Ravind Tumber
                <br>
                <small class="text-muted">Coventry, West Midlands</small>
            </h1>
            <br>
            <p class="text-center">A diligent and hard-working second year computer science student who loves tackling problems.</p>
            <hr>
                        
            <div id="Education">
                <h3 class="text-center">Education</h3>
                {% if user.is_authenticated %}
                    <a href="{% url 'cv:education_new' %}" class="btn btn-primary" id="add_education">Add Education</a>
                    <br> <br>
                {% endif %}

                {% for education in educations %}
                    <div class="card bg-light mb-3" id="education_{{ forloop.counter }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ education.name }}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'cv:education_edit' pk=education.pk %}" style="float:right;" class="btn btn-primary" id="edit_education_{{ forloop.counter }}">Edit</a>
                                {% endif %}
                            </h5>
                            <p class="card-text">{{ education.location }} ({{ education.start_date }} - {{ education.end_date }})
                                <br> {{ education.description }}
                            </p> 
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div id="Experience">

            </div>
            <div id="Volunteering">

            </div>
        </div>
    </body>
{% endblock %}