{% extends 'landing/base.html' %}

{% block content %} 
    <head>
        <title>CV</title>
    </head>

    <body>
        <div class="container mt-5 shadow p-3 mb-5 bg-white rounded">
            <h1 class="text-center">Ravind Tumber
                <br>
                <small class="text-muted">Coventry, West Midlands</small>
            </h1>
            <br>
            <p class="text-center">A diligent and hard-working second year computer science student who loves tackling problems.</p>
            <hr>

            <div id="Experience">
                <h3 class="text-center">Employment</h3>
                {% if user.is_authenticated %}
                    <a href="{% url 'cv:employment_new' %}" class="btn btn-primary" id="add_employment">Add Employment</a>
                    <br> <br>
                {% endif %}
            </div>
                        
            <div id="Education">
                <h3 class="text-center">Education</h3>
                {% if user.is_authenticated %}
                    <a href="{% url 'cv:education_new' %}" class="btn btn-primary" id="add_education">Add Education</a>
                    <br> <br>
                {% endif %}

                {% for entry in education %}
                    <div class="card bg-light mb-3" id="education_{{ forloop.counter }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.name }}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'cv:education_edit' pk=entry.pk %}" style="float:right;" class="btn btn-primary" id="edit_education_{{ forloop.counter }}">Edit</a>
                                    <a href="{% url 'cv:education_remove' pk=entry.pk %}" style="float:right; margin-right: 0.5rem;" class="btn btn-primary" id="delete_education_{{ forloop.counter }}">Delete</a>
                                {% endif %}
                            </h5>
                            <p class="card-text">{{ entry.location }} ({{ entry.start_date }} - {{ entry.end_date }})
                                <br> 
                                {{ entry.description }}
                            </p> 
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>

            <div id="Volunteering">
                <h3 class="text-center">Volunteering</h3>
                {% if user.is_authenticated %}
                    <a href="{% url 'cv:volunteering_new' %}" class="btn btn-primary" id="add_volunteering">Add Volunteering</a>
                    <br> <br>
                {% endif %}

                {% for entry in volunteering %}
                    <div class="card bg-light mb-3" id="volunteering_{{ forloop.counter }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.name }}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'cv:volunteering_edit' pk=entry.pk %}" style="float:right;" class="btn btn-primary" id="edit_volunteering_{{ forloop.counter }}">Edit</a>
                                    <a href="{% url 'cv:volunteering_remove' pk=entry.pk %}" style="float:right; margin-right: 0.5rem;" class="btn btn-primary" id="delete_volunteering_{{ forloop.counter }}">Delete</a>
                                {% endif %}
                            </h5>
                            <p class="card-text">{{ entry.location }} ({{ entry.start_date }} - {{ entry.end_date }})
                                <br> 
                                {{ entry.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </body>
{% endblock %}