{% extends 'landing/base.html' %}

{% block content %} 
    <head>
        <title>Home</title>
    </head>
    
    <body>
        <div class="container py-4">
            <h3>Ravind Tumber</h3>
            <h3>Bridging Coursework</h3>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h3>about me</h3>
                    <hr>
                    <br>
                    <p>I study Computer Science at the University of Birmingham!</p>
                    <p>I enjoy taking on challenges to create innovative solutions. When I'm not gaming, you can find me reading books, attempting to cook or just chilling :)</p>
                </div>
                <div class="col">
                    <img class="img" src="static/picture.jpg">
                </div>
            </div>
        </div>
    </body>

{% endblock %}