{% extends 'landing/base.html' %}

{% block content %} 
    <head>
        <title>Ravind Tumber</title>
    </head>
    
    <body>
        <div class="container mt-5 text-center">
            <img src="static/picture_of_me.jpg" class="img-fluid rounded-circle">
            <h1 class="display-4 mt-3">Hi, I'm Ravind</h1>

            <div class="container mt-4">
                <div class="row">
                    <div class="col-sm">
                        <i class="fas fa-briefcase icons"></i>
                        <p class="lead mt-3 text-left">
                            I’m a Digital Degree Apprentice at Vodafone. What does that mean? 
                            As well as studying at the University of Birmingham, I also get the opportunity to gain valuable experience from placements. 
                            My experience so far has been phenomenal, and I would highly recommend this programme to any budding computer scientists. 
                            Check out more information about this scheme <a href="https://careers.vodafone.co.uk/digital-degree-apprenticeship">here</a>
                        </p>
                    </div>
                    <div class="col-sm">
                        <i class="fas fa-graduation-cap icons"></i>
                        <p class="lead mt-3 text-left">
                            Studying at the University of Birmingham has been a life-changing experience. The community is so vibrant, and the campus and facilities are great. 
                            There’s a lot to do socially with over 250 societies! Having just completed my second year, it has flown by ridiculously quick. 
                            From staying at The Metalworks in my first year to commuting in my second year, my experience at UoB has been fun. 
                        </p>
                    </div>
                    <div class="col-sm">
                        <i class="fas fa-couch icons"></i>
                        <p class="lead mt-3 text-left">
                            When I'm not coding, you can find me gaming, reading books or attempting to cook. 
                            One of my favourite fantasy series is The Stormlight Archive by Brandon Sanderson which is hands down an amazing read. 
                            I've recently started playing basketball and going to the gym, now that the lockdown has eased. 
                            Music is a biggie in my life, and it has kept me going through the lockdown period. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <a href="https://www.instagram.com/ravindtumber/">
                    <i class="fab fa-instagram mr-4"></i>
                </a>
                <a href="https://www.linkedin.com/in/ravindtumber/">
                    <i class="fab fa-linkedin-in mr-4"></i>
                </a>
                <a href="https://github.com/RavindTumber">
                    <i class="fab fa-github mr-4"></i>
                </a>
                <a href="#">
                    <i class="far fa-envelope mr-4" id="emailAddress" onclick="copyEmail()"></i>
                </a>
            </div>
        </div>

        <script>
            function copyEmail() {
                navigator.clipboard.writeText('ravindtumber1@gmail.com');
                alert("My email address has been copied to your clipboard :)");
            }
        </script>

    </body>

{% endblock %}