.navbar-custom {
    background-color: #6383CE;
}

.nav-item {
    font-size: 140%;
    margin-right: 30px;
    color: white;
}

.jumbotron {
    background-image: linear-gradient(
        #4267BB, #11368B
    );
}

.post-form textarea, .post-form input {
    width: 100%;
}

.icons {
    font-size: 2rem;
}

i.far,
i.fab {
    color: #6383CE;
    font-size: 2.5rem;
  }

i.far:hover,
i.fab:hover {
    color: #11368B;
}

a:hover {
    text-decoration: none;
}